<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?section=$1
	RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$ index.php?section=$1&subsection=$2
	RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$ index.php?section=$1&subsection=$2&page=$3
</IfModule>